{{ $baseurl := .Site.BaseURL }}

<style>
h1 a:hover{
  color:#747369; 
}
h1 a{ text-decoration:none}

</style>

<h1 align="center" class="site-title" >
  <a class="hero_path" href="https://github.com/kliiu">
<span class="base05">@</span><span class="base08">k</span><span class="base09">l</span><span class="base0a">ii</span><span class="base0b">u</span>
</a>
 <a  class="hero_path" href= "https://weibo.com/u/7724960004">
 <span class="base05">|</span>
<span class="base0e">@</span><span class="base0c">兰州</span><span class="base0d">手卷</span>
</a>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
My Nonsense
</div>
